body{
    margin: 0;
    font-family: Founders Grotesk XCondensed, sans-serif;
}

.header{

}

.container-trading{
    background: linear-gradient(to right, rgb(0 0 0 / 92%), rgba(0, 0, 0, 0)), url(images/plug.jpeg) center;
    max-width: 2560px;
    height: 700px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.box-text-trade{
    width: 70%;
    padding-left: 10px;
}

.text-trade{
    font-size: 2rem;
}

.image-company{
    max-width: 300px;
    height: 300px;
    width: 100%;
    border-radius: 100%;
}

.about-company{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 1rem;
}

.about-company-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 691px) {
    .about-company-text{
        width: 80%;
    }
}

.container-doc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.docs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    gap: 1rem;
}

.doc{
    max-width: 500px;
    height: 375px;
    width: 100%;
    border: 5px solid black;
}

.container-photo{
    max-width: 500px;
    overflow: auto;
    height: 400px;
    width: 100%;
    border: 1px solid black;
}

.photo-doc{
    max-width: 500px;
    width: 100%;
}

.link-on{
    width: 300px;
    height: 400px;
}

.box-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
}