body{
    margin: 0;
    font-family: Founders Grotesk XCondensed, sans-serif;
}

.header{

}

.container-trading{
    width: 100%;
    color: black;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: #ffd100;
    padding-top: 30px;
    padding-bottom: 30px;
}

.bulb{
    max-width: 600px;
    height: 400px;
}

.box-text-trade{
    width: 80%;
}

.text-trade{
    font-size: 1rem;
}

.image-company{
    max-width: 300px;
    height: 300px;
    width: 100%;
    border-radius: 100%;
}

.about-company{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 30px;
    gap: 1rem;
}

.about-company-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 691px) {
    .about-company-text{
        width: 80%;
    }
}

.container-doc{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.docs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
    flex-wrap: wrap;
    gap: 1rem;
}

.doc{
    max-width: 500px;
    height: 375px;
    width: 100%;
    border: 5px solid black;
}

.container-photo{
    max-width: 500px;
    height: 200px;
    width: 100%;
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pdf{
    text-decoration: none;
    color: #ffd100;
}

.photo-doc{
    max-width: 500px;
    width: 100%;
    height: 150px;
}

.link-on{
    width: 300px;
    height: 400px;
}

.box-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: center;
}

.link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.container-link{
    /*border-right: 2px solid #ffd100;*/
    /*border-left: 2px solid #ffd100;*/
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link-on-site{
    text-decoration: none;
    color: black;
}

.footer{
    background: #ffd100;
    padding: 30px;
}

.text-foot{
    font-weight: 700;
}

.mail,
.location,
.phone{
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
}

.phone{
    margin-top: 10px;
}

.button{
    height: 30px;
    background: none;
    border: 2px solid #ffd100;
    cursor: pointer;
    color: #ffd100;
    border-radius: 4px;
    font-size: 1rem;
}

.text-about-company{
    text-align: center;
}

embed{
    width: 100%;
    height: 100%;
}